.section-background {
  position: relative;
  overflow: hidden;
}

.section-background::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  opacity: .18;

  pointer-events: none;
}